

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';



.frame1 {
	// opacity: 1;
}




.coin_a{	
	@include pos-scale(0, -100, .18);
}

.coin_b{	
	@include pos-scale(0, -100, .2);
}

.coin_c{	
	@include pos-scale(0, -100, .25);
}

.coin_d{	
	@include pos-scale(0, -100, .25);
}





#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}

