

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';

@import '../../../_common/styles/type_wof.scss';



#how_1{
  @include pos(41, 55);
}

#do_1{
	@include pos(41, 91);
}

#you_1{
	@include pos(41, 127);
}

#you_2{
	@include pos(68, 127);
}


#spell_1{
	@include pos(68, 161);
}

#fun_1{
	@include pos(40, 197);
}

.wheel{
	@include pos-scale(-14, 319.2, .8);
}


.frame1 {
	// opacity: 1;
}


#banner{
	width: 160px;
	height: 600px;
}

.logo{
	-webkit-filter: drop-shadow(0px 0px 9px rgba(0,0,0,.9));
  	filter: drop-shadow(0px 0px 9px rgba(0,0,0,.9));


}

.flip-card, .flip-card-back {  
  width: 24px;
  height: 36px;  
}

