<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="bg retina" inline>


	

		<div class="flip-card" id="how_1">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_O.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="do_1">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_O.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="you_1">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_O.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="you_2">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_U.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="spell_1">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_E.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="exite_1">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_E.png" style="width:24px;height:35px;">   			
  			</div>
		</div>


		<div class="flip-card" id="exite_2">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_I.png" style="width:24px;height:35px;">   			
  			</div>
		</div>

		<div class="flip-card" id="exite_3">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_E.png" style="width:24px;height:35px;">   			
  			</div>
		</div>

		<div class="flip-card" id="exite_4">
  			<div class="flip-card-inner">    		
      			<img inline class="flip-card-front" src="./images/letter_blank.png" style="width:24px;height:35px;">
      			<img inline class="flip-card-back" src="./images/letter_E.png" style="width:24px;height:35px;">   			
  			</div>
		</div>

		

		
		
		

		<% include ../_common/templates/slicer %>

		

	</div>

	
</div>