

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';

.nuller{
	// background-color: red;
}
#take_1{ @include pos(18, 5); }
#take_2{ @include pos(35, 5); }
#take_3{ @include pos(52, 5); }
#take_4{ @include pos(69, 5); }


#anytime_5{ @include pos(85, 5); }








#it_1{ @include pos(102, 5); }
#it_2{ @include pos(118, 5); }





#for_1{ @include pos(147, 5); }
#for_2{ @include pos(162, 5); }
#for_3{ @include pos(177, 5); }


#a_1{ @include pos(18, 26); }
#you_2{ @include pos(36, 26); }




#spin_1{ @include pos(52, 26); }
#spin_2{ @include pos(69, 26); }
#spin_3{ @include pos(86, 26); }
#spin_4{ @include pos(102, 26); }

#like_3{ @include pos(117, 26); }
#like_4{ @include pos(132, 26); }

.frame1 {
	// opacity: 1;
}



.wheel{
	@include pos-scale(108, -138, .31);	
}

#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}



.flip-card, .flip-card-back, .flip-card-front {  
  width: 14px;
  height: 18px;  
}

