

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';

#how_H{
	@include pos(11, 5);
}

#how_W{
	@include pos(44, 5);
}

#how_1{
	@include pos(27, 5);
}

#do_1{
	@include pos(95, 5);
}

#you_1{
	@include pos(140, 5);
}

#you_2{
	@include pos(155, 5);
}


#spell_1{
	@include pos(44, 26);
}

#exite_1{
	@include pos(109, 25);
}

#exite_2{
	@include pos(154, 25);
}

#exite_3{
	@include pos(184, 25);
}

#exite_4{
	@include pos(214, 25);
}



.frame1 {
	// opacity: 1;
}

.wheel{
	@include pos-scale(156, -138, .31);	
	// opacity: .6;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}

.logo{
	display: none;
}

.flip-card, .flip-card-back {
  width: 14px;
  height: 21px;
}

