<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="bg" >
		<img src="./images/t1.png" class=" retina t1" >
		
		<img src="./images/t2.png" class=" retina t2" >
		<img src="./images/screen.png" class="retina screen" >

		<img src="./images/coin.png" class="retina coin coin_a" >
		<img src="./images/coin.png" class="retina coin coin_b" >
		<img src="./images/coin.png" class="retina coin coin_c" >
		<img src="./images/coin.png" class="retina coin coin_d" >

		<img src="./images/pot.png" class="retina pot" >

		
		

		<div class="mask f1 a">
			<img src="./images/bg.jpg" class="" >
			<img src="./images/t2.png" class=" retina" >
			<img src="./images/screen.png" class="retina" >
		</div>

		<div class="mask f1 b">
			<img src="./images/bg.jpg" class="" >
			<img src="./images/t2.png" class=" retina" >
			<img src="./images/screen.png" class="retina" >
		</div>

		<div class="mask f1 c">
			<img src="./images/bg.jpg" class="" >
			<img src="./images/t2.png" class=" retina" >
			<img src="./images/screen.png" class="retina" >
		</div>




		

		<% include ../_common/templates/slicer_nologo %>

		

	</div>

	
</div>