<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		
		<img src="./images/bg1.jpg" class="retina bg1">
		<img src="./images/t1a.png" class="retina t1a shadow">
		<img src="./images/t1b.png" class="retina t1b shadow">
	

		<div class="wiper">			
			<img src="./images/bg2.jpg" class="retina">
			
		</div>

		<img src="./images/line.png" class="wiper line">

		<div class="mask f1 a">
			<img src="./images/bg2.jpg" class="retina">
			
		</div>

		<div class="mask f1 b">
			<img src="./images/bg2.jpg" class="retina">
			
		</div>

		<div class="mask f1 c">
			<img src="./images/bg2.jpg" class="retina">
			
		</div>
		
		<% include ../_common/templates/slicer %>

	</div>

	
</div>