

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';

.nuller{
	// background-color: red;
}
#take_1{ @include pos(18, 67); }
#take_2{ @include pos(50, 67); }
#take_3{ @include pos(85, 67); }
#take_4{ @include pos(116, 67); }





// #null_3{ @include pos(248, 79); }







#it_1{ @include pos(17, 108); }
#it_2{ @include pos(50, 108); }
#anytime_6{ @include pos(83, 108); }
#anytime_7{ @include pos(117, 108); }
// #null_4{ @include pos(94, 128); }




#for_1{ @include pos(16, 151); }
#for_2{ @include pos(50, 151); }
#for_3{ @include pos(83, 151); }


#a_1{ @include pos(16, 192); }
#like_2{ @include pos(50, 192); }
#like_3{ @include pos(82, 192); }
#like_4{ @include pos(116, 192); }
// #null_5{ @include pos(55, 177); }


#spin_1{ @include pos(16, 233); }
#spin_2{ @include pos(48, 233); }
#spin_3{ @include pos(81, 233); }
#spin_4{ @include pos(116, 233); }

.frame1 {
	// opacity: 1;
}



.wheel{
	@include pos-scale(-14, 319.2, .8);
}

#banner{
	font-size: 20px;
	color: #333;
	width: 160px;
	height: 600px;
}



.flip-card, .flip-card-back {  
  width: 27px;
  height: 36px;  
}

