<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="bg" >
		<img src="./images/dragon.jpg" class="dragon retina" >
		<img src="./images/t1.png" class="shadow retina t1" >
		




		
		<!-- <img src="./images/dragon2_.png" class="" > -->
		<img src="./images/screen.png" class="retina screen" >
		<img src="./images/dragon2.png" class="retina dragon2" >

		<img src="./images/t2.png" class="shadow retina t2" >

		<img src="./images/coin.png" class="retina coin coin_a" >
		<img src="./images/coin.png" class="retina coin coin_b" >
		<img src="./images/coin.png" class="retina coin coin_c" >
		<img src="./images/coin.png" class="retina coin coin_d" >
		
		<div class="mask f1 a">
			<img src="./images/bg.jpg" class="" >			
			<img src="./images/screen.png" class="retina screen" >
			<img src="./images/dragon2.png" class="retina dragon2" >
			<img src="./images/t2.png" class="shadow retina" >
		</div>

		<div class="mask f1 b">
			<img src="./images/bg.jpg" class="" >			
			<img src="./images/screen.png" class="retina screen" >
			<img src="./images/dragon2.png" class="retina dragon2" >
			<img src="./images/t2.png" class="shadow retina" >
		</div>

		<div class="mask f1 c">
			<img src="./images/bg.jpg" class="" >			
			<img src="./images/screen.png" class="retina screen" >
			<img src="./images/dragon2.png" class="retina dragon2" >
			<img src="./images/t2.png" class="shadow retina" >
		</div>
		

		<% include ./slicer %>

		

	</div>

	
</div>