<img src="./images/logo.png" class="retina" >

<img src="./images/frame_end_b.jpg" id="f2" class="retina mask f2 a" >		
		<img src="./images/frame_end_b.jpg" class="retina mask f2 b" >
		<img src="./images/frame_end_b.jpg" class="retina mask f2 c" >
		
		<div class="shadMain">
			<div class="shad shad1 a"></div>
			<div class="shad shad2 b"></div>
			<div class="shad shad3 c"></div>
		</div>