

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';

.nuller{
	// background-color: red;
}
#take_1{ @include pos(98, 11); }
#take_2{ @include pos(127, 11); }
#take_3{ @include pos(156, 11); }
#take_4{ @include pos(185, 11); }


#anytime_5{ @include pos(212, 11); }








#it_1{ @include pos(240, 11); }
#it_2{ @include pos(269, 11); }





#for_1{ @include pos(327, 11); }
#for_2{ @include pos(356, 11); }
#for_3{ @include pos(385, 11); }


#a_1{ @include pos(98, 47); }
#you_2{ @include pos(128, 47); }




#spin_1{ @include pos(155, 47); }
#spin_2{ @include pos(184, 47); }
#spin_3{ @include pos(212, 47); }
#spin_4{ @include pos(241, 47); }

#like_3{ @include pos(271, 47); }
#like_4{ @include pos(299, 47); }

.frame1 {
	// opacity: 1;
}



.wheel{
	@include pos-scale(462, -124, .7);	
}

#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}



.flip-card, .flip-card-back, .flip-card-front {  
  width: 24px;
  height: 32px;  
}

