<div id="banner">
  <div class="outline"></div>
  
  <div class="frame frame1">
    
    <img src="./images/bg.jpg" class="bg retina" >


  

    <div class="flip-card" id="take_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_A.png" >
            <img  class="flip-card-front" src="./images/letter_T.png" >
        </div>
    </div>
    <div class="flip-card" id="take_2">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_N.png" >
            <img  class="flip-card-front" src="./images/letter_A.png" >
        </div>
    </div>
    <div class="flip-card" id="take_3">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_Y.png" >
            <img  class="flip-card-front" src="./images/letter_K.png" >
        </div>
    </div>
    <div class="flip-card" id="take_4">
        <div class="flip-card-inner">       
            <div class="flip-card-back"   ></div>
            <img  class="flip-card-front" src="./images/letter_E.png" >
        </div>
    </div>



     <div class="flip-card" id="it_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_T.png" >
            <img  class="flip-card-front" src="./images/letter_I.png" >
        </div>
    </div>
    <div class="flip-card" id="it_2">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_I.png" >
            <img  class="flip-card-front" src="./images/letter_T.png" >
        </div>
    </div>

     <div class="flip-card nuller" id="anytime_6">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_M.png" >
            <div class="flip-card-front "   ></div>            
        </div>
    </div> 

    <div class="flip-card nuller" id="anytime_7">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_E.png" >
            <div class="flip-card-front "   ></div>            
        </div>
    </div> 



    
    <div class="flip-card" id="for_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_Y.png" >
            <img  class="flip-card-front" src="./images/letter_F.png" >
        </div>
    </div>
    <div class="flip-card" id="for_2">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_O.png" >
            <img  class="flip-card-front" src="./images/letter_O.png" >
        </div>
    </div>
    <div class="flip-card" id="for_3">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_U.png" >
            <img  class="flip-card-front" src="./images/letter_R.png" >
        </div>
    </div>





     <div class="flip-card" id="a_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_L.png" >
            <img  class="flip-card-front" src="./images/letter_A.png" >
        </div>
    </div>


    <div class="flip-card nuller" id="like_2">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_I.png" >
            <div class="flip-card-front "   ></div>            
        </div>
    </div>

    <div class="flip-card nuller" id="like_3">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_K.png" >
            <div class="flip-card-front "   ></div>            
        </div>
    </div>

    <div class="flip-card nuller" id="like_4">
        <div class="flip-card-inner">       
            <img  class="flip-card-back" src="./images/letter_E.png" >
            <div class="flip-card-front "   ></div>            
        </div>
    </div>



    <div class="flip-card" id="spin_1">
        <div class="flip-card-inner">       
            <div class="flip-card-back "   ></div>
            <img  class="flip-card-front" src="./images/letter_S.png" >
        </div>
    </div>
    <div class="flip-card" id="spin_2">
        <div class="flip-card-inner">       
            <div class="flip-card-back "   ></div>
            <img  class="flip-card-front" src="./images/letter_P.png" >
        </div>
    </div>
    <div class="flip-card" id="spin_3">
        <div class="flip-card-inner">       
            <div class="flip-card-back "   ></div>
            <img  class="flip-card-front" src="./images/letter_I.png" >
        </div>
    </div>
    <div class="flip-card" id="spin_4">
        <div class="flip-card-inner">       
            <div class="flip-card-back "   ></div>
            <img  class="flip-card-front" src="./images/letter_N.png" >
        </div>
    </div>

    
    <img src="./images/wheel.png" class="wheel retina" >

    <div class="mask f1 a">
        <img src="./images/bg.jpg" class="bg retina" >
        <img id="take_1"  class="flip-card-back" src="./images/letter_A.png" >
        <img id="take_2"  class="flip-card-back" src="./images/letter_N.png" >
        <img id="take_3"  class="flip-card-back" src="./images/letter_Y.png" >
        <div id="take_4" class="flip-card-back"   ></div>
        <img id="it_1"  class="flip-card-back" src="./images/letter_T.png" >
        <img id="it_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="anytime_6"  class="flip-card-back" src="./images/letter_M.png" >
        <img id="anytime_7"  class="flip-card-back" src="./images/letter_E.png" >
        <img id="for_1"  class="flip-card-back" src="./images/letter_Y.png" >
        <img id="for_2"  class="flip-card-back" src="./images/letter_O.png" >
        <img id="for_3"  class="flip-card-back" src="./images/letter_U.png" >
        <img id="a_1"  class="flip-card-back" src="./images/letter_L.png" >
        <img id="like_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="like_3"  class="flip-card-back" src="./images/letter_K.png" >
        <img id="like_4"  class="flip-card-back" src="./images/letter_E.png" >
        <div id="spin_1" class="flip-card-back "   ></div>
        <div id="spin_2" class="flip-card-back "   ></div>
        <div id="spin_3" class="flip-card-back "   ></div>
        <div id="spin_4" class="flip-card-back "   ></div>
        <img src="./images/wheel.png" class="wheel retina" >
    </div>

     <div class="mask f1 b">
        <img src="./images/bg.jpg" class="bg retina" >
        <img id="take_1"  class="flip-card-back" src="./images/letter_A.png" >
        <img id="take_2"  class="flip-card-back" src="./images/letter_N.png" >
        <img id="take_3"  class="flip-card-back" src="./images/letter_Y.png" >
        <div id="take_4" class="flip-card-back"   ></div>
        <img id="it_1"  class="flip-card-back" src="./images/letter_T.png" >
        <img id="it_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="anytime_6"  class="flip-card-back" src="./images/letter_M.png" >
        <img id="anytime_7"  class="flip-card-back" src="./images/letter_E.png" >
        <img id="for_1"  class="flip-card-back" src="./images/letter_Y.png" >
        <img id="for_2"  class="flip-card-back" src="./images/letter_O.png" >
        <img id="for_3"  class="flip-card-back" src="./images/letter_U.png" >
        <img id="a_1"  class="flip-card-back" src="./images/letter_L.png" >
        <img id="like_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="like_3"  class="flip-card-back" src="./images/letter_K.png" >
        <img id="like_4"  class="flip-card-back" src="./images/letter_E.png" >
        <div id="spin_1" class="flip-card-back "   ></div>
        <div id="spin_2" class="flip-card-back "   ></div>
        <div id="spin_3" class="flip-card-back "   ></div>
        <div id="spin_4" class="flip-card-back "   ></div>
        <img src="./images/wheel.png" class="wheel retina" >
    </div>

     <div class="mask f1 c">
        <img src="./images/bg.jpg" class="bg retina" >
        <img id="take_1"  class="flip-card-back" src="./images/letter_A.png" >
        <img id="take_2"  class="flip-card-back" src="./images/letter_N.png" >
        <img id="take_3"  class="flip-card-back" src="./images/letter_Y.png" >
        <div id="take_4" class="flip-card-back"   ></div>
        <img id="it_1"  class="flip-card-back" src="./images/letter_T.png" >
        <img id="it_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="anytime_6"  class="flip-card-back" src="./images/letter_M.png" >
        <img id="anytime_7"  class="flip-card-back" src="./images/letter_E.png" >
        <img id="for_1"  class="flip-card-back" src="./images/letter_Y.png" >
        <img id="for_2"  class="flip-card-back" src="./images/letter_O.png" >
        <img id="for_3"  class="flip-card-back" src="./images/letter_U.png" >
        <img id="a_1"  class="flip-card-back" src="./images/letter_L.png" >
        <img id="like_2"  class="flip-card-back" src="./images/letter_I.png" >
        <img id="like_3"  class="flip-card-back" src="./images/letter_K.png" >
        <img id="like_4"  class="flip-card-back" src="./images/letter_E.png" >
        <div id="spin_1" class="flip-card-back "   ></div>
        <div id="spin_2" class="flip-card-back "   ></div>
        <div id="spin_3" class="flip-card-back "   ></div>
        <div id="spin_4" class="flip-card-back "   ></div>
        <img src="./images/wheel.png" class="wheel retina" >
    </div>

    

    




    <!-- <img src="./images/frame_end_a.jpg" class="mask f1 a">      
    <img src="./images/frame_end_a.jpg" class="mask f1 b">      
    <img src="./images/frame_end_a.jpg" class="mask f1 c">       -->
    

    <% include ../_common/templates/slicer_nologo %>

    

  </div>

  
</div>