

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';


#how_1{
	@include pos(42, 55);
}

#do_1{
	@include pos(150, 55);
}

#you_1{
	@include pos(42, 91);
}

#you_2{
	@include pos(70, 91);
}


#spell_1{
	@include pos(175, 91);
}

#exite_1{
	@include pos(14, 128);
}

#exite_2{
	@include pos(97, 128);
}

#exite_3{
	@include pos(150, 128);
}

#exite_4{
	@include pos(203, 128);
}



.frame1 {
	// opacity: 1;
}


#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}



.flip-card, .flip-card-back {  
  width: 24px;
  height: 35px;
}

