

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';



.frame1 {
	// opacity: 1;
}

.coin{
	transform-origin: 50% 50%;
	@include pos-scale(0, -100, .5);
}


.screen{	
	@include pos-scale(113, 28, .5);
}

.dragon2{	
	@include pos-scale(186, 106, .5);
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

