<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		
		<img src="./images/bg1.jpg" class="retina bg1">
		<img src="./images/t1a.png" class="retina t1a shadow">
		<img src="./images/t1b.png" class="retina t1b shadow">
	

		<img src="./images/gold.jpg" class="gold">
		<img src="./images/bg2.jpg" class="retina bg2">
		
		<% include ../_common/templates/slicer %>

	</div>

	
</div>