

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';

.nuller{
	// background-color: red;
}
#take_1{ @include pos(19, 79); }
#take_2{ @include pos(57, 79); }
#take_3{ @include pos(95, 79); }
#take_4{ @include pos(134, 79); }


#anytime_5{ @include pos(172, 79); }
#anytime_6{ @include pos(212, 79); }
#anytime_7{ @include pos(248, 79); }







#it_1{ @include pos(19, 128); }
#it_2{ @include pos(57, 128); }
#you_3{ @include pos(94, 128); }




#for_1{ @include pos(134, 128); }
#for_2{ @include pos(173, 128); }
#for_3{ @include pos(211, 128); }


#a_1{ @include pos(18, 177); }
#like_2{ @include pos(55, 177); }


#spin_1{ @include pos(95, 177); }
#spin_2{ @include pos(133, 177); }
#spin_3{ @include pos(172, 177); }
#spin_4{ @include pos(211, 177); }

.frame1 {
	// opacity: 1;
}



.wheel{
	@include pos(46, 294);
}

#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 600px;
}



.flip-card, .flip-card-back {  
  width: 33px;
  height: 45px;  
}

