<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		<img src="./images/bg.jpg" class="bg" >
		<img src="./images/t1.png" class="retina t1" >
		<img src="./images/dragon.png" class="dragon" >




		
		<img src="./images/screen.png" class="screen" >
		<img src="./images/dragon2.png" class="dragon2" >
		<img src="./images/t2.png" class="retina t2" >

		
		
		

		<% include ../_common/templates/slicer %>

		

	</div>

	
</div>