

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.coin{
	transform-origin: 50% 50%;
	@include pos-scale(0, -100, .5);

	// border: 1px solid blue;
}

.f1{
	@include pos(0, 0);
	opacity: 0;

}

.f2{
	@include pos-scale(0, -250, .5);
	opacity: 0;
	
}

.mask{
	
}


.shadMain{
	width: 300px;
	height: 250px;
	@include pos(0, 0);
	.shad{
		width: 100px;
		height: 250px;
		box-shadow: inset 5px 0px 10px rgba(0,0,0,.8);
		
	}
	.shad1{
		@include pos(0, -250);
		// background: red;
	}
	.shad2{
		@include pos(100, -250);
		// background: green;
	}
	.shad3{
		@include pos(200, -250);
		// background: blue;
	}
}


// .f2a{
// 	clip: rect(0px,200px,500px,0px);
// }

// .f2b{
// 	clip: rect(0px,400px,500px,200px);
// }
// .f2c{
// 	clip: rect(0px,600px,500px,400px);
// }

#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

