<div id="banner">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		
		<img src="./images/bg1.jpg" class="bg1" inline>
		<img src="./images/t1.png" class="retina t1 shadow" inline>
	

		<div class="wiper">			
			<img src="./images/frame_end_a.jpg" class="" inline>
			<img src="./images/t2.png" class="retina t1 shadow" inline>
		</div>

		<img src="./images/line.png" class="wiper line" inline>
		
		<% include ../_common/templates/slicer %>

	</div>

	
</div>