

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/playnow.scss';
@import '../../../_common/styles/type_wof.scss';


#how_1{
	@include pos(128, 11);
}

#do_1{
	@include pos(240, 11);
}

#you_1{
	@include pos(327, 11);
}

#you_2{
	@include pos(355, 11);
}


#spell_1{
	@include pos(155, 47);
}

#exite_1{
	@include pos(269, 47);
}

#exite_2{
	@include pos(356, 47);
}

#exite_3{
	@include pos(414, 47);
}

#exite_4{
	@include pos(468, 47);
}



.frame1 {
	// opacity: 1;
}

.wheel{
	@include pos-scale(532, -124, .7);	
}


#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
}

.logo{
	-webkit-filter: drop-shadow(5px 5px 9px black);
  filter: drop-shadow(5px 5px 9px black);
}

.flip-card {
  width: 26px;
  height: 36px;
}

