<div id="banner">
  <div class="outline"></div>
  
  <div class="frame frame1">
    
    <img src="./images/bg.jpg" class="bg retina" >


  

   

    <div class="flip-card" id="how_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_O.png" >        
        </div>
    </div>


    <div class="flip-card" id="do_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_O.png" >        
        </div>
    </div>


    <div class="flip-card" id="you_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_O.png" >        
        </div>
    </div>


    <div class="flip-card" id="you_2">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_U.png" >        
        </div>
    </div>


    <div class="flip-card" id="spell_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_E.png" >        
        </div>
    </div>


    <div class="flip-card" id="fun_1">
        <div class="flip-card-inner">       
            <img  class="flip-card-front" src="./images/letter_blank.png" >
            <img  class="flip-card-back" src="./images/letter_U.png" >        
        </div>
    </div>

    <img src="./images/wheel.png" class="wheel retina" >


    <div class="mask f1 a">
      <img src="./images/bg.jpg" class="bg retina" >
      <img id="how_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="do_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_2" class="flip-card-back" src="./images/letter_U.png" >        
      <img id="spell_1" class="flip-card-back" src="./images/letter_E.png" >        
      <img id="fun_1" class="flip-card-back" src="./images/letter_U.png" >        
      <img src="./images/wheel.png" class="wheel retina" >
    </div>

    <div class="mask f1 b">
      <img src="./images/bg.jpg" class="bg retina" >
      <img id="how_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="do_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_2" class="flip-card-back" src="./images/letter_U.png" >        
      <img id="spell_1" class="flip-card-back" src="./images/letter_E.png" >        
      <img id="fun_1" class="flip-card-back" src="./images/letter_U.png" >        
      <img src="./images/wheel.png" class="wheel retina" >
    </div>

    <div class="mask f1 c">
      <img src="./images/bg.jpg" class="bg retina" >
      <img id="how_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="do_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_1" class="flip-card-back" src="./images/letter_O.png" >        
      <img id="you_2" class="flip-card-back" src="./images/letter_U.png" >        
      <img id="spell_1" class="flip-card-back" src="./images/letter_E.png" >        
      <img id="fun_1" class="flip-card-back" src="./images/letter_U.png" >        
      <img src="./images/wheel.png" class="wheel retina" >
    </div>

  

    <% include ../_common/templates/slicer_nologo %>

    

  </div>

  
</div>